div
{
    border-radius:5px;
    font-size:20px;
    font-family:Tahoma;
    text-align:center;
    color:#8A8A8A;
    line-height:50px;
    
}


#cal
{
    height:360px;
    width:270px;
    background:#FFCC99;
    margin:auto;
    box-shadow:0 5px #CCA352, 0px 10px 15px black;
}
#result
{
    background:#CCA352;
    height:60px;
    width:170px;
    position:absolute;
    top:20px;
    margin-left:20px; 
    box-shadow:inset 0 5px #A38242;
    color:white;
    font-size:25px;
    letter-spacing:1px;
    text-align:right;
}

div div p
{
    top:-20px;
    left:-10px;
    position:relative;
}

div div:nth-child(18)
{
    background:#FFB4B4;
    top:25px;
    margin-left:200px;
     box-shadow:0 5px #C19797;
}

.button
{
    height:50px;
    width:50px;
    background:white;
    position:absolute;
    box-shadow:0 5px #CCA352;
}

.button:hover
{
    background:#B894FF;
    color:white;
    box-shadow:0 5px #8168B2;
}
.button:active
{
    background:white;
    color:black;
     box-shadow:0 5px #CCA352;
}


div div:nth-child(2)
{
    top:90px;
    margin-left:20px;
}

div div:nth-child(3)
{
    top:90px;
    margin-left:80px;
}
div div:nth-child(4)
{
    top:90px;
    margin-left:140px;
}
div div:nth-child(5)
{
    background:#D1FFFF;
    top:90px;
    margin-left:200px;
    box-shadow:0 5px #86A3A3;
}
div div:nth-child(6)
{
    top:160px;
    margin-left:20px;
}
div div:nth-child(7)
{
    top:160px;
    margin-left:80px;
}
div div:nth-child(8)
{
    top:160px;
    margin-left:140px;
}
div div:nth-child(9)
{
    background:#D1FFFF;
    top:160px;
    margin-left:200px;
     box-shadow:0 5px #86A3A3;
}
div div:nth-child(10)
{
    top:230px;
    margin-left:20px;
}
div div:nth-child(11)
{
    top:230px;
    margin-left:80px;
}
div div:nth-child(12)
{
    top:230px;
    margin-left:140px;
}
div div:nth-child(13)
{
    background:#D1FFFF;
    top:230px;
    margin-left:200px;
     box-shadow:0 5px #86A3A3;
}
div div:nth-child(14)
{
    top:300px;
    margin-left:20px;
}
div div:nth-child(15)
{
    top:300px;
    margin-left:80px;
}
div div:nth-child(16)
{
    background:#CCFFCC;
    top:300px;
    margin-left:140px;
    box-shadow:0 5px #8FB28F;
}

#equal:hover
{
    background:#9DCEB6;
    color:white;
    box-shadow:0 5px #5CAD85
}

#equal:active
{
    background:white;
    color:black;
     box-shadow:0 5px #CCA352;
}

div div:nth-child(17)
{
    background:#D1FFFF;
    top:300px;
    margin-left:200px;
     box-shadow:0 5px #86A3A3;
}